{
  "format": "glowbe-devices",
  "version": 1,
  "devices": [
    {
      "id": "01900000-0000-7000-8000-000000000001",
      "displayName": "15 panels",
      "mdnsHostname": "glowbe-15panels",
      "layoutId": "icosahedron-15",
      "outputFps": 60,
      "masterBrightness": 1.0,
      "frontYawDeg": 0.0
    },
    {
      "id": "01900000-0000-7000-8000-000000000002",
      "displayName": "60 panels",
      "mdnsHostname": "glowbe-60panels",
      "layoutId": "geodesic-2v-60",
      "outputFps": 120,
      "masterBrightness": 1.0,
      "frontYawDeg": 0.0
    }
  ]
}
